html,body {
	margin: 0;
	padding: 0;
	font-family: Roboto;
}
@font-face{
	font-family: OSWALD;
	src: url(./assets/font/OSWALD.otf);
}
@font-face{
	font-family: Comfortaa-Light;
	src: url(./assets/font/Comfortaa-Light.ttf);
}
@font-face{
	font-family: Roboto;
	src: url(./assets/font/roboto/Roboto.ttf);
}
@font-face{
	font-family: Roboto-Bold;
	src: url(./assets/font/roboto/Roboto-Bold.ttf);
}
@font-face{
	font-family: Roboto-Thin;
	src: url(./assets/font/roboto/Roboto-Thin.ttf);
}
@font-face{
	font-family: Roboto-Italic;
	src: url(./assets/font/roboto/Roboto-Italic.ttf);
}
@font-face{
	font-family: Roboto-Light;
	src: url(./assets/font/roboto/Roboto-Light.ttf);
}
@font-face{
	font-family: Roboto-Medium;
	src: url(./assets/font/roboto/Roboto-Medium.ttf);
}
#nav-icon1 {
  margin-top: 12px;
  width: 30px;
  height: 25px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  float: right;

  display: none;
  }

  .menu-hide{
  	width: 100%;
  	height: 0;
  	overflow: hidden;
  	background: #fff;
  	transition: 1s;
  }

  .menu-hide li{
  	width: 100% !important;
  	float: none;
  	box-sizing: border-box;
  	padding-left: 10px;
  }

    .menu-hide .login{
    float: left;
  	left: 0 !important;
  	text-align: left;
  }

      .menu-hide .login a{
    float: left;
  	padding-left: 5px !important;
  	text-align: left;
  }


#nav-icon1 span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
nav {
	width: 100vw;
}
header {
	width: 100vw;
	height: 50px;
	background: #fff;
	display: inline-block;
	position: fixed;
	box-sizing: border-box;
	box-shadow: 0 0 9px gray;
	z-index: +100000;
}
nav {
	width: 100vw;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
header ul {
	display: flex;
	justify-content: flex-start;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	left: 0;
}
header ul li {
	list-style: none;
	position: relative;
	padding: 5px;
	transition: 0.5s;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: flex;
}
header ul li a {
	text-decoration: none;
	padding: 0 10px;
	color: #4592a5;
	font-family: Roboto-Light;
	height: 50px;
	display: inline-block;
	line-height: 50px;
}
header ul li a:hover {
	color: #fff;
	background: #2196f3;
	transform: 0.5s ease;
}
.navbar ul li {
	position: relative;
	display: flex;
	transition: 0.5s;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.navbar ul li a {
	font-family: Roboto-Light;
	display: block;
}
.navbar ul li ul {
	position: absolute;
	display: block;
	font-family: Roboto-Light;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	padding: 0 10px;
}
.navbar ul li:hover ul {
	opacity: 1;
	visibility: visible;
}
.logo {
	position: relative;
	margin: 0 170px;
}
.logo img {
	margin-top: -7px;
}
.stu{
	margin-left: 10px;
}
.search {
	height: 50px;
	width: 200px;
}
.search input {
	height: 40px;
	width: 250px;
	margin-top: 5px;
	margin-left: 80px;
	border-radius: 2px;
	border: none;
	border: 1px solid whitesmoke;
	transition: 0.75s;
	font-family: Comfortaa-Light;
	font-size: 13px; 
	padding-left: 10px;
}
.search input:hover {
	color: #0009;
	padding-left: 5px;
	transition: 0.75s;
	font-size: 13px; 
	padding-left: 20px;
	font-family: Comfortaa-Light;
}
.search input::-webkit-input-placeholder {
	position: relative;
	font-size: 15px;
	color: #0009;
	padding-left: 10px;
}
.search input:hover::-webkit-input-placeholder {
	transition: 0.5s;
	padding-left: 30px;
	font-family: Comfortaa-Light;
	color: #0009;
}
.languages {
	position: relative;
	float: right;
	width: 50px;
	height: 100px;
	margin-left: 60px;
}
.languages ul {
	display: flex;
	cursor: pointer;
	margin: 0 auto;
	padding: 0;
	left: 0;
}
.languages ul li {
	position: relative;
	display: block;
	transition: 0.5s;
	box-sizing: border-box;

}
.languages ul li a {
	font-family: Roboto-Light;
	display: inline-block;
}
.languages ul li ul {
	position: absolute;
	display: block;
	font-family: Roboto-Light;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
	background: #fff;
}
.languages ul li:hover ul {
	opacity: 1;
	visibility: visible;
}
.login {
	float: right;
	right: 0;
}
.login ul {
	font-family: Roboto-Light;
	line-height: 50px; 
}
.login ul li {
	display: block;
}
.login span:hover {
	color: #0008;
}
.login ul li a {
	font-weight: 900;
	text-decoration: none;
	color: #4592a5;
	display: inline-block;
}
.login ul li a:hover {
	color: #fff;
}
.banner {
	width: 100%;
	height: 550px;
}
.slidershow {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: 100;
} 
.cover{
	object-fit: cover;
	object-position: top;
}
.navigasi {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	z-index: 100;
}
.bar {
	width: 20px;
	height: 20px;
	border: 2px solid #fff;
	margin: 6px;
	cursor: pointer;
	transform: 0.4s;
	border-radius: 100%;
}
.bar:hover {
	background: #2196f3;
}
input[name="r"] {
	position: absolute;
	visibility: hidden;
}
.slides {
	width: 500%;
	height: 100%;
	display: flex;
}
.slide {
	width: 20%;
	transition: 0.6s;
}
.slide img {
	width: 100%;
	height: 100%;
}
#r1:checked ~ .s1 {
	margin-left: 0;
}
#r2:checked ~ .s1 {
	margin-left: -20%;
}
#r3:checked ~ .s1 {
	margin-left: -40%;
}
#r4:checked ~ .s1 {
	margin-left: -60%;
}
#r5:checked ~ .s1 {
	margin-left: -80%;
}
.diskWhite {
	position: relative;
	width: 350px;
	height: 270px;
	background: transparent;
	margin-right: 0;
	margin-top: -440px;
	margin-left: 425px;
}
.textdisk  {
	position: relative;
	width: 330px;
	height: 250px;
	background: transparent;
	justify-content: center;
	text-align: center;
	border: 2px dashed #0005;
	margin-left: 8px;
	margin-top: 7.5px;
}
.textdisk h5 {
	font-family: Comfortaa-Light;
	color: #0008;
	font-size: 1em;
}
.textdisk h1 {
	color: #0009;
	font-size: 3em;
	line-height: 15px;
	font-family: Roboto-Bold;
	text-transform: uppercase;
}
.textdisk div.left {
	position: relative;
	float: left;
	width: 100px;
	height: 5px;
	background: #000;
	margin-left: 30px;
}
.textdisk div.right {
	position: relative;
	float: right;
	width: 100px;
	height: 5px;
	background: #000;
	margin-right: 30px;
}
.textdisk #text {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.3em;
	margin-left: 6px;
	margin-top: -10px;
	font-family: Roboto-Bold;
}
.textdisk h2 {
	position: absolute;
	float: left;
	font-size: 5em;
	margin-left: 90px;
	line-height: 20px;
	font-family: Roboto-Light;
	color: #0009;
}
.brandsAZ {
	margin-top: 100px;
	width: 100%;
	height: 500px;
	margin-left: 	-10px;
}
.brandsAZ.bgWhite {
	background: #fff; 
}
.brandsAZ.bgWhite div.left1 {
	float: left;
	position: relative;
	width: 480px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.brandsAZ.bgWhite div.right1 {
	float: right;
	position: relative;
	width: 480px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.brandsAZ.bgWhite div.left2 {
	float: left;
	position: relative;
	width: 450px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.brandsAZ.bgWhite div.right2 {
	float: right;
	position: relative;
	width: 450px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.brandsAZ.bgWhite div.left3 {
	float: left;
	position: relative;
	width: 550px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.brandsAZ.bgWhite div.right3 {
	float: right;
	position: relative;
	width: 550px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.brandsAZ.bgWhite div.left4 {
	float: left;
	position: relative;
	width: 530px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.brandsAZ.bgWhite div.right4 {
	float: right;
	position: relative;
	width: 530px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.brandsAZ.bgWhite div.left5 {
	float: left;
	position: relative;
	width: 520px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.brandsAZ.bgWhite div.right5 {
	float: right;
	position: relative;
	width: 520px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.brandsAZ.bgWhite #text4 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.2em;
	margin-top: 40px;
	margin-left: 35px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
.brandsAZ.bgWhite #text5 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.2em;
	margin-top: 40px;
	margin-left: 30px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
.brandsAZ.bgWhite #text7 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.2em;
	margin-top: 40px;
	margin-left: 35px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
.brandsAZ.bgWhite #text8 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.2em;
	margin-top: 40px;
	margin-left: 35px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
.brandsAZ.bgWhite #text9 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.2em;
	margin-top: 40px;
	margin-left: 35px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
.brandsIMG {
	float: left;
	position: relative;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.brandsIMG .next {
	float: right;
	padding: 0 10px;
	transition: 0.5s;
	font-family: Comfortaa-Light;
	box-sizing: border-box;	
}
.brandsIMG img{
	cursor: pointer;	
}
.brandsIMG .next p{
	margin-top: 40px;
	font-weight: 900;
	color: #4592a5;
	text-decoration: none;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.brandsIMG .next a{
	text-decoration: none;
}
.brandsIMG .next p:hover {
	color: #0009;
	transition: 0.5s;
	transform: scale(1.3	);
}
.brandsIMG .k1 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 2px;
	margin-right: 15px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
}
.brandsIMG .k1:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.brandsIMG .k1 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.brandsIMG .k1 h3 {
	margin-top: 40px;
	margin-left: 20px;	
}
.brandsIMG .k1 h5 {
	margin-top: -10px;
	margin-left: 20px;
	color: #4592a5;
}
.brandsIMG .k2 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 2px;
	margin-right: 15px;
	border-radius: 2px;
}
.brandsIMG .k2:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.brandsIMG .k2 h3 {
	margin-top: 40px;
	margin-left: 20px;
}
.brandsIMG .k2 h5 {
	margin-top: -10px;
	margin-left: 20px;
	color: #4592a5;
}
.brandsIMG .k2 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.brandsIMG .k3 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 2px;
	margin-right: 15px;
	border-radius: 2px;
}
.brandsIMG .k3:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.brandsIMG .k3 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.brandsIMG .k3 h3 {
	margin-top: 40px;
	margin-left: 20px;	
}
.brandsIMG .k3 h5 {
	margin-top: -10px;
	margin-left: 20px;
	color: #4592a5;
}
.brandsIMG .k4 {
	float: left;
	width: 288px;
	height: 300px;
	height: 400px;
	margin-top: 6px;
	background: #fff;
	box-shadow: 0 0 2px;
	border-radius: 2px;
}
.brandsIMG .k4:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.brandsIMG .k4 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.brandsIMG .k4 h3 {
	margin-top: 40px;
	margin-left: 20px;
}
.brandsIMG .k4 h5 {
	margin-top: -10px;
	margin-left: 20px;
	color: #4592a5;
}
.like{
	width: 25px !important;
	float: right;
	margin-right: 15px !important;
	margin-top: -55px !important;
}
.tops {
	margin-top: 100px;
	width: 100%;
	height: 500px;
}
.tops.bgWhite {
	background: #fff; 
}
.tops.bgWhite div.left1 {
	float: left;
	position: relative;
	width: 510px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.tops.bgWhite div.right1 {
	float: right;
	position: relative;
	width: 510px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.tops.bgWhite #text7 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.2em;
	margin-top: 40px;
	margin-left: 55px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
.topsIMG {
	float: left;
	position: relative;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.topsIMG .next {
	float: right;
	padding: 0 10px;
	transition: 0.5s;
	font-family: Comfortaa-Light;
	box-sizing: border-box;	
}
.topsIMG img{
	cursor: pointer;
}
.topsIMG .next p {
	margin-top: 40px;
	font-weight: 900;
	color: #4592a5;
	text-decoration: none;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.topsIMG .next a{
	text-decoration: none;
}
.topsIMG .next p:hover {
	color: #0009;
	transition: 0.5s;
	transform: scale(1.3	);
}
.topsIMG .k1 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 2px;
	margin-right: 15px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
}
.topsIMG .k1:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.topsIMG .k1 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.topsIMG .k1 h3 {
	margin-top: 40px;
	margin-left: 20px;	
}
.topsIMG .k1 h5 {
	margin-top: -10px;
	margin-left: 20px;
	color: #4592a5;
}
.topsIMG .k2 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 2px;
	margin-right: 15px;
	border-radius: 2px;
}
.topsIMG .k2:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.topsIMG .k2 h3 {
	margin-top: 40px;
	margin-left: 20px;
}
.topsIMG .k2 h5 {
	margin-top: -10px;
	margin-left: 20px;
	color: #4592a5;
}
.topsIMG .k2 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.topsIMG .k3 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 2px;
	margin-right: 15px;
	border-radius: 2px;
}
.topsIMG .k3:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.topsIMG .k3 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.topsIMG .k3 h3 {
	margin-top: 40px;
	margin-left: 20px;	
}
.topsIMG .k3 h5 {
	margin-top: -10px;
	margin-left: 20px;
	color: #4592a5;
}
.topsIMG .k4 {
	float: left;
	width: 288px;
	height: 300px;
	height: 400px;
	margin-top: 6px;
	background: #fff;
	box-shadow: 0 0 2px;
	border-radius: 2px;
}
.topsIMG .k4:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.topsIMG .k4 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.topsIMG .k4 h3 {
	margin-top: 40px;
	margin-left: 20px;
}
.topsIMG .k4 h5 {
	margin-top: -10px;
	margin-left: 20px;
	color: #4592a5;
}
.trausers {
	margin-top: 100px;
	width: 100%;
	height: 500px;
}
.tops.bgWhite {
	background: #fff; 
}
.trausers.bgWhite div.left1 {
	float: left;
	position: relative;
	width: 510px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.trausers.bgWhite div.right1 {
	float: right;
	position: relative;
	width: 510px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.trausers.bgWhite #text8 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.2em;
	margin-top: 40px;
	margin-left: 40px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
.trausersIMG {
	float: left;
	position: relative;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.trausersIMG img{
	cursor: pointer;
}
.trausersIMG .next {
	float: right;
	padding: 0 10px;
	transition: 0.5s;
	font-family: Comfortaa-Light;
	box-sizing: border-box;	
}
.trausersIMG .next p {
		margin-top: 40px;
	font-weight: 900;
	color: #4592a5;
	text-decoration: none;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.trausersIMG .next a{
	text-decoration: none;
}
.trausersIMG .next p:hover {
	color: #0009;
	transition: 0.5s;
	transform: scale(1.3	);
}
.trausersIMG .k1 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 2px;
	margin-right: 15px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
}
.trausersIMG .k1:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.trausersIMG .k1 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.trausersIMG .k1 h3 {
	margin-top: 40px;
	margin-left: 20px;	
}
.trausersIMG .k1 h5 {
	margin-top: -10px;
	margin-left: 20px;
	color: #4592a5;
}
.trausersIMG .k2 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 2px;
	margin-right: 15px;
	border-radius: 2px;
}
.trausersIMG .k2:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.trausersIMG .k2 h3 {
	margin-top: 40px;
	margin-left: 20px;
}
.trausersIMG .k2 h5 {
	margin-top: -10px;
	margin-left: 20px;
	color: #4592a5;
}
.trausersIMG .k2 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.trausersIMG .k3 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 2px;
	margin-right: 15px;
	border-radius: 2px;
}
.trausersIMG .k3:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.trausersIMG .k3 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.trausersIMG .k3 h3 {
	margin-top: 40px;
	margin-left: 20px;	
}
.trausersIMG .k3 h5 {
	margin-top: -10px;
	margin-left: 20px;
	color: #4592a5;
}
.trausersIMG .k4 {
	float: left;
	width: 288px;
	height: 300px;
	height: 400px;
	margin-top: 6px;
	background: #fff;
	box-shadow: 0 0 2px;
	border-radius: 2px;
}
.trausersIMG .k4:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.trausersIMG .k4 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.trausersIMG .k4 h3 {
	margin-top: 40px;
	margin-left: 20px;
}
.trausersIMG .k4 h5 {
	margin-top: -10px;
	margin-left: 20px;
	color: #4592a5;
}
.traditional {
	margin-top: 100px;
	width: 100%;
	height: 500px;
}
.traditional.bgWhite {
	background: #fff; 
}
.traditional.bgWhite div.left1 {
	float: left;
	position: relative;
	width: 450px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.traditional.bgWhite div.right1 {
	float: right;
	position: relative;
	width: 450px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.traditional.bgWhite #text9 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.2em;
	margin-top: 40px;
	margin-left: 25px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
.traditionalIMG {
	float: left;
	position: relative;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.traditionalIMG img{
	cursor: pointer;
}
.traditionalIMG .next {
	float: right;
	padding: 0 10px;
	transition: 0.5s;
	font-family: Comfortaa-Light;
	box-sizing: border-box;	
}
.traditionalIMG .next p {
		margin-top: 40px;
	font-weight: 900;
	color: #4592a5;
	text-decoration: none;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.traditionalIMG .next a{
	text-decoration: none;
}
.traditionalIMG .next p:hover {
	color: #0009;
	transition: 0.5s;
	transform: scale(1.3	);
}
.traditionalIMG .k1 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 2px;
	margin-right: 15px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
}
.traditionalIMG .k1:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.traditionalIMG .k1 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.traditionalIMG .k1 h3 {
	margin-top: 40px;
	margin-left: 20px;	
}
.traditionalIMG .k1 h5 {
	margin-top: -10px;
	margin-left: 20px;
	color: #4592a5;
}
.traditionalIMG .k2 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 2px;
	margin-right: 15px;
	border-radius: 2px;
}
.traditionalIMG .k2:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.traditionalIMG .k2 h3 {
	margin-top: 40px;
	margin-left: 20px;
}
.traditionalIMG .k2 h5 {
	margin-top: -10px;
	margin-left: 20px;
	color: #4592a5;
}
.traditionalIMG .k2 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.traditionalIMG .k3 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 2px;
	margin-right: 15px;
	border-radius: 2px;
}
.traditionalIMG .k3:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.traditionalIMG .k3 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.traditionalIMG .k3 h3 {
	margin-top: 40px;
	margin-left: 20px;	
}
.traditionalIMG .k3 h5 {
	margin-top: -10px;
	margin-left: 20px;
	color: #4592a5;
}
.traditionalIMG .k4 {
	float: left;
	width: 288px;
	height: 300px;
	height: 400px;
	margin-top: 6px;
	background: #fff;
	box-shadow: 0 0 2px;
	border-radius: 2px;
}
.traditionalIMG .k4:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.traditionalIMG .k4 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.traditionalIMG .k4 h3 {
	margin-top: 40px;
	margin-left: 20px;
}
.traditionalIMG .k4 h5 {
	margin-top: -10px;
	margin-left: 20px;
	color: #4592a5;
}
.readmore {
	margin-top: 
	width: 100%;
	height: 40px;
	float: left;
	margin-left: -10px;
}
.readmore.bgWhite div.left1 {
	float: left;
	position: relative;
	width: 520px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.readmore.bgWhite div.right1 {
	float: right;
	position: relative;
	width: 520px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.readmore.bgWhite #text3 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.3em;
	margin-top: 35px;
	margin-left: 21px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
.product {
	position: absolute;
	float: left;
	margin-top: 100px;
}
.product h1 {
	font-family: Roboto;
	color: #0009;
	font-size: 16px;
}
.product h3 {
	font-family: Comfortaa-Light;
	font-size: 14px;
}
.product h3 a {
	text-decoration: none;
	color: #4592a5;
	cursor: pointer;
}
.brands {
	position: absolute;
	float: left;
	margin-top: 100px;
	margin-left: 200px;
}
.brands h1 {
	font-family: Roboto;
	color: #0009;
	font-size: 16px;
}
.brands h3 {
	font-family: Comfortaa-Light;
	font-size: 14px;
}
.brands h3 a {
	text-decoration: none;
	color: #4592a5;
	cursor: pointer;
}
.support {
	position: absolute;
	float: left;
	margin-top: 100px;
	margin-left: 400px;
}
.support h1 {
	font-family: Roboto;
	color: #0009;
	font-size: 16px;
}
.support h3 {
	font-family: Comfortaa-Light;
	font-size: 14px;
}
.support h3 a {
	text-decoration: none;
	color: #4592a5;
	cursor: pointer;
}
.featured {
	position: absolute;
	float: left;
	margin-top: 205px;
}
.featured h1 {
	font-family: Roboto;
	color: #0009;
	font-size: 16px;
}
.featured h3 {
	font-family: Comfortaa-Light;
	font-size: 14px;
}
.featured h3 a {
	text-decoration: none;
	color: #4592a5;
	cursor: pointer;
}
.message {
	position: relative;
	float: right;
	margin-top: 49px;
}
.message h1 {
	font-family: Roboto;
	color: #0009;
	font-size: 16px;
}
.message h3 {
	font-family: Comfortaa-Light;
	line-height: 30px;
	font-size: 14px;
}
.message h3 a {
	text-decoration: none;
	color: #4592a5;
	cursor: pointer;
}
.message input {
	width: 100%;
	height: 40px;
	border: none;
	box-shadow: 0 0 2px #0009;
	border-radius: 2px;
	transition: 0.75s;
}
.message input:hover {
	border: none;
	color: #0009;
	padding-left: 5px;
	transition: 0.75s;
	font-size: 13px; 
	padding-left: 20px;
	font-family: Comfortaa-Light;
}
.message input::-webkit-input-placeholder {
	position: relative;
	font-size: 13px;
	color: #0009;
	padding-left: 10px;
	border: none;
}
.message input:hover::-webkit-input-placeholder {
	border: none;
	transition: 0.5s;
	padding-left: 30px;
	font-family: Comfortaa-Light;
	color: #0009;
}
.mens {
	float: left;
	margin-top: 40px;
	box-shadow: 0 0 2px #0009;
	border: none;
	border-radius: 2px;
}
.mens button {
	width: 180px;
	height: 40px;
	border: none;
	border-radius: 2px;
	background: #fff;
	cursor: pointer;
}
.mens button:hover {
	background: #0005;
	transition: 0.75s;
}
.mens button a {
	text-decoration: none;
	color: #4592a5;
	cursor: pointer;
	font-family: Comfortaa-Light;
}
@media screen and (max-width:1020px) {	
	header{
		width: 100%;
	}
	.container{
		max-width: 900px;
	}
	header ul{
		max-width: 900px;
	}
	.slide img{
		width: 100%;
		height: 100vh;
	}
	.languages{
		
	}
	.login{
		margin-right: 150px;
	}
	.logo{
		position: relative;
		margin-left: 200px;
	}
	.textdisk{
		width: 280px;
		height: 200px;
		margin-top: 120px;
		margin-left: -100px;
	}
	.brandsIMG .next {
		float: right;
		padding: 0 10px;
		transition: 0.5s;
		font-family: Comfortaa-Light;
		box-sizing: border-box;	
	}
	.brandsIMG img{
		cursor: pointer;	
	}
	.brandsIMG .next p{
		margin-top: 20px;
		font-weight: 900;
		color: #4592a5;
		text-decoration: none;
		transition: 0.5s;
		font-family: Comfortaa-Light;
	}
	.brandsIMG .next a{
		text-decoration: none;
	}
	.brandsIMG .next p:hover {
		color: #0009;
		transition: 0.5s;
		transform: scale(1.3	);
	}
	.brandsAZ.bgWhite div.left1 {
		float: left;
		position: relative;
		width: 330px;
		height: 2px;
		background: #0009;
		margin-top: 50px;
	}
	.brandsAZ.bgWhite div.right1 {
		float: right;
		position: relative;
		width: 330px;
		height: 2px;
		background: #0009;
		margin-top: 50px;
	}
	.brandsAZ.bgWhite div.left2 {
		float: left;
		position: relative;
		width: 310px;
		height: 2px;
		background: #0009;
		margin-top: 50px;
	}
	.brandsAZ.bgWhite div.right2 {
		float: right;
		position: relative;
		width: 310px;
		height: 2px;
		background: #0009;
		margin-top: 50px;
	}
	.brandsAZ.bgWhite div.left3 {
		float: left;
		position: relative;
		width: 400px;
		height: 2px;
		background: #0009;
		margin-top: 50px;
	}
	.brandsAZ.bgWhite div.right3 {
		float: right;
		position: relative;
		width: 400px;
		height: 2px;
		background: #0009;
		margin-top: 50px;
	}
	.brandsAZ.bgWhite div.left4 {
		float: left;
		position: relative;
		width: 390px;
		height: 2px;
		background: #0009;
		margin-top: 50px;
	}
	.brandsAZ.bgWhite div.right4 {
		float: right;
		position: relative;
		width: 390px;
		height: 2px;
		background: #0009;
		margin-top: 50px;
	}
	.brandsAZ.bgWhite div.left5 {
		float: left;
		position: relative;
		width: 370px;
		height: 2px;
		background: #0009;
		margin-top: 50px;
	}
	.brandsAZ.bgWhite div.right5 {
		float: right;
		position: relative;
		width: 370px;
		height: 2px;
		background: #0009;
		margin-top: 50px;
	}
	.textdisk h5{
		font-size: 15px;
	}
	.textdisk h1{
		font-size: 30px;
	}
	.textdisk div.left{
		float: left;
		position: relative;
		width: 74px;
		height: 4.5px;
		background: #0009;
	}
	.textdisk div#text{
		font-size: 18px;
	}
	.textdisk div.right{
		float: right;
		position: relative;
		width: 74px;
		height: 4.5px;
		margin-right: 4	0px;
		background: #0009;
	}
	.textdisk h2{
		font-size: 50px;
		margin-left: 93px;
	}
	.navbar{
		font-size: 15px;
	}
	.search input {
		width: 200px;
		margin-left: -100px !important;
	}
	.navigasi{
		margin-left: 23px;
		margin-top: 100px;
		bottom: 23px;	
	}
	.bar{
		margin-top: 100px;
	}
	.brandsAZ {
		margin-top: -150px;
		width: 100%;
		height: 500px;
	}
	.brandsIMG .k1 {
		float: left;
		width: 285px;
		height: 320px;
		margin-top: 60px;
		background: #fff;
		box-shadow: 0 0 2px;
		margin-right: 15px;
		border-radius: 2px;
		font-family: Comfortaa-Light;
	}
	.brandsIMG .k1:hover {
		transition: 0.5s;
		transform: scale(1.05);
	}
	.brandsIMG .k1 img {
		width: 75%;
		margin: 0;
		padding: 0;
		border-radius: 2px;
		margin-left: 35px;
	}
	.brandsIMG .k1 h3 {
		margin-top: 40px;
		margin-left: 20px;	
	}
	.brandsIMG .k1 h5 {
		margin-top: -10px;
		margin-left: 20px;
		color: #4592a5;
	}
	.brandsIMG .k2 {
		float: left;
		width: 285px;
		height: 320px;
		margin-top: 60px;
		background: #fff;
		box-shadow: 0 0 2px;
		margin-right: 15px;
		border-radius: 2px;
	}
	.brandsIMG .k2:hover {
		transition: 0.5s;
		transform: scale(1.05);
	}
	.brandsIMG .k2 h3 {
		margin-top: 20px;
		margin-left: 20px;
	}
	.brandsIMG .k2 h5 {
		margin-top: -10px;
		margin-left: 20px;
		color: #4592a5;
	}
	.brandsIMG .k2 img {
		width: 75%;
		margin: 0;
		padding: 0;
		border-radius: 2px;
		margin-left: 40px;
		margin-top: 20px;
	}
	.brandsIMG .k3 {
		float: left;
		width: 285px;
		height: 320px;
		background: #fff;
		box-shadow: 0 0 2px;
		margin-right: 15px;
		border-radius: 2px;
		margin-top: 6px;
	}
	.brandsIMG .k3:hover {
		transition: 0.5s;
		transform: scale(1.05);
	}
	.brandsIMG .k3 img {
		width: 75%;
		margin: 0;
		padding: 0;
		border-radius: 2px;
		margin-left: 40px;
		margin-top: 20px;
	}
	.brandsIMG .k3 h3 {
		margin-top: 20px;
		margin-left: 20px;	
	}
	.brandsIMG .k3 h5 {
		margin-top: -10px;
		margin-left: 20px;
		color: #4592a5;
	}
	.brandsIMG .k4 {
		display: none;
	}
	.like{
		width: 25px !important;
		float: right;
		margin-right: 15px !important;
		margin-top: -55px !important;
	}
	.brandsAZ.bgWhite #text4 {
		position: relative;
		float: left;
		color: #0009;
		font-size: 1.2em;
		margin-top: 40px;
		margin-left: 30px;
		font-family: Comfortaa-Light;
		font-weight: 1000;
	}
	.brandsAZ.bgWhite #text5 {
		position: relative;
		float: left;
		color: #0009;
		font-size: 1.2em;
		margin-top: 40px;
		margin-left: 25px;
		font-family: Comfortaa-Light;
		font-weight: 1000;
	}
	.brandsAZ.bgWhite #text7 {
		position: relative;
		float: left;
		color: #0009;
		font-size: 1.2em;
		margin-top: 40px;
		margin-left: 30px;
		font-family: Comfortaa-Light;
		font-weight: 1000;
	}
	.brandsAZ.bgWhite #text8 {
		position: relative;
		float: left;
		color: #0009;
		font-size: 1.2em;
		margin-top: 40px;
		margin-left: 20px;
		font-family: Comfortaa-Light;
		font-weight: 1000;
	}
	.brandsAZ.bgWhite #text9 {
		position: relative;
		float: left;
		color: #0009;
		font-size: 1.2em;
		margin-top: 40px;
		margin-left: 25px;
		font-family: Comfortaa-Light;
		font-weight: 1000;
	}
	.readmore {
		margin-top: 
		width: 100%;
		height: 40px;
		float: left;
	}
	.readmore.bgWhite div.left1 {
		float: left;
		position: relative;
		width: 350px;
		height: 2px;
		background: #0009;
		margin-top: 50px;
	}
	.readmore.bgWhite div.right1 {
		float: right;
		position: relative;
		width: 350px;
		height: 2px;
		background: #0009;
		margin-top: 50px;
	}
	.readmore.bgWhite #text3 {
		position: relative;
		float: left;
		color: #0009;
		font-size: 1.3em;
		margin-top: 35px;
		margin-left: 40px;
		font-family: Comfortaa-Light;
		font-weight: 1000;
	}
	.product {
		position: absolute;
		float: left;
		margin-top: 100px;
	}
	.product h1 {
		font-family: Roboto;
		color: #0009;
		font-size: 15px;
	}
	.product h3 {
		font-family: Comfortaa-Light;
		font-size: 13px;
	}
	.product h3 a {
		text-decoration: none;
		color: #4592a5;
		cursor: pointer;
	}
	.brands {
		position: absolute;
		float: left;
		margin-top: 100px;
		margin-left: 130px;
	}
	.brands h1 {
		font-family: Roboto;
		color: #0009;
		font-size: 15px;
	}
	.brands h3 {
		font-family: Comfortaa-Light;
		font-size: 13px;
	}
	.brands h3 a {
		text-decoration: none;
		color: #4592a5;
		cursor: pointer;
	}
	.support {
		position: absolute;
		float: left;
		margin-top: 100px;
		margin-left: 270px;
	}
	.support h1 {
		font-family: Roboto;
		color: #0009;
		font-size: 15px;
	}
	.support h3 {
		font-family: Comfortaa-Light;
		font-size: 13px;
	}
	.support h3 a {
		text-decoration: none;
		color: #4592a5;
		cursor: pointer;
	}
	.featured {
		position: absolute;
		float: left;
		margin-top: 205px;
	}
	.featured h1 {
		font-family: Roboto;
		color: #0009;
		font-size: 15px;
	}
	.featured h3 {
		font-family: Comfortaa-Light;
		font-size: 13px;
	}
	.featured h3 a {
		text-decoration: none;
		color: #4592a5;
		cursor: pointer;
	}
	.message {
		position: relative;
		float: right;
		margin-top: 49px;
	}
	.message h1 {
		font-family: Roboto;
		color: #0009;
		font-size: 16px;
	}
	.message h3 {
		font-family: Comfortaa-Light;
		line-height: 30px;
		font-size: 14px;
	}
	.message h3 a {
		text-decoration: none;
		color: #4592a5;
		cursor: pointer;
	}
	.message input {
		width: 100%;
		height: 40px;
		border: none;
		box-shadow: 0 0 2px #0009;
		border-radius: 2px;
		transition: 0.75s;
	}
	.message input:hover {
		border: none;
		color: #0009;
		padding-left: 5px;
		transition: 0.75s;
		font-size: 13px; 
		padding-left: 20px;
		font-family: Comfortaa-Light;
	}
	.message input::-webkit-input-placeholder {
		position: relative;
		font-size: 13px;
		color: #0009;
		padding-left: 10px;
		border: none;
	}
	.message input:hover::-webkit-input-placeholder {
		border: none;
		transition: 0.5s;
		padding-left: 30px;
		font-family: Comfortaa-Light;
		color: #0009;
	}
	.mens {
		float: left;
		margin-top: 40px;
		box-shadow: 0 0 2px #0009;
		border: none;
		border-radius: 2px;
	}
	.mens button {
		width: 180px;
		height: 40px;
		border: none;
		border-radius: 2px;
		background: #fff;
		cursor: pointer;
	}
	.mens button:hover {
		background: #0005;
		transition: 0.75s;
	}
	.mens button a {
		text-decoration: none;
		color: #4592a5;
		cursor: pointer;
		font-family: Comfortaa-Light;
	}
}

@media screen and (max-width:980px) {
	.brandsAZ.bgWhite div.left3 {
		float: left;
		position: relative;
		width: 400px;
		height: 2px;
		background: #0009;
		margin-top: 50px;
	}
	.brandsAZ.bgWhite div.right3 {
		float: right;
		position: relative;
		width: 400px;
		height: 2px;
		background: #0009;
		margin-top: 50px;
	}
	.brandsAZ.bgWhite div.left4 {
		float: left;
		position: relative;
		width: 390px;
		height: 2px;
		background: #0009;
		margin-top: 50px;
	}
	.brandsAZ.bgWhite div.right4 {
		float: right;
		position: relative;
		width: 390px;
		height: 2px;
		background: #0009;
		margin-top: 50px;
	}
	.brandsAZ.bgWhite div.left5 {
		float: left;
		position: relative;
		width: 370px;
		height: 2px;
		background: #0009;
		margin-top: 50px;
	}
	.brandsAZ.bgWhite div.right5 {
		float: right;
		position: relative;
		width: 370px;
		height: 2px;
		background: #0009;
		margin-top: 50px;
	}
	.container{
		max-width: 880px;
	}
	header ul{
		max-width: 880px;
	}
	header{
		width: 100%;
	}
	.slide img{
		width: 100%;
		height: 100vh;
	}
	.languages{
		
	}
	.login{
		margin-right: 150px;
	}
	.logo{
		position: relative;
		margin-left: 200px;
	}
	.textdisk{
		width: 280px;
		height: 200px;
		margin-top: 120px;
		margin-left: -100px;
	}
	.brandsIMG .next {
		float: right;
		padding: 0 10px;
		transition: 0.5s;
		font-family: Comfortaa-Light;
		box-sizing: border-box;	
	}
	.brandsIMG img{
		cursor: pointer;	
	}
	.brandsIMG .next p{
		margin-top: 20px;
		font-weight: 900;
		color: #4592a5;
		text-decoration: none;
		transition: 0.5s;
		font-family: Comfortaa-Light;
	}
	.brandsIMG .next a{
		text-decoration: none;
	}
	.brandsIMG .next p:hover {
		color: #0009;
		transition: 0.5s;
		transform: scale(1.3	);
	}

	.textdisk h5{
		font-size: 15px;
	}
	.textdisk h1{
		font-size: 30px;
	}
	.textdisk div.left{
		float: left;
		position: relative;
		width: 74px;
		height: 4.5px;
		background: #0009;
	}
	.textdisk div#text{
		font-size: 18px;
	}
	.textdisk div.right{
		float: right;
		position: relative;
		width: 74px;
		height: 4.5px;
		margin-right: 4	0px;
		background: #0009;
	}
	.textdisk h2{
		font-size: 50px;
		margin-left: 93px;
	}
	.navbar{
		font-size: 15px;
	}
	.search input {
		width: 200px;
		margin-left: -100px !important;
	}
	.navigasi{
		margin-left: 23px;
		margin-top: 100px;
		bottom: 23px;	
	}
	.bar{
		margin-top: 100px;
	}
	.brandsAZ {
		margin-top: -150px;
		width: 100%;
		height: 500px;
	}
	.brandsIMG .k1 {
		float: left;
		width: 275px;
		height: 320px;
		margin-top: 60px;
		background: #fff;
		box-shadow: 0 0 2px;
		margin-right: 15px;
		border-radius: 2px;
		font-family: Comfortaa-Light;
	}
	.brandsIMG .k1:hover {
		transition: 0.5s;
		transform: scale(1.05);
	}
	.brandsIMG .k1 img {
		width: 75%;
		margin: 0;
		padding: 0;
		border-radius: 2px;
		margin-left: 35px;
	}
	.brandsIMG .k1 h3 {
		margin-top: 40px;
		margin-left: 20px;	
	}
	.brandsIMG .k1 h5 {
		margin-top: -10px;
		margin-left: 20px;
		color: #4592a5;
	}
	.brandsIMG .k2 {
		float: left;
		width: 275px;
		height: 320px;
		margin-top: 60px;
		background: #fff;
		box-shadow: 0 0 2px;
		margin-right: 15px;
		border-radius: 2px;
	}
	.brandsIMG .k2:hover {
		transition: 0.5s;
		transform: scale(1.05);
	}
	.brandsIMG .k2 h3 {
		margin-top: 20px;
		margin-left: 20px;
	}
	.brandsIMG .k2 h5 {
		margin-top: -10px;
		margin-left: 20px;
		color: #4592a5;
	}
	.brandsIMG .k2 img {
		width: 75%;
		margin: 0;
		padding: 0;
		border-radius: 2px;
		margin-left: 40px;
		margin-top: 20px;
	}
	.brandsIMG .k3 {
		float: left;
		width: 275px;
		height: 320px;
		background: #fff;
		box-shadow: 0 0 2px;
		margin-right: 15px;
		border-radius: 2px;
		margin-top: 6px;
	}
	.brandsIMG .k3:hover {
		transition: 0.5s;
		transform: scale(1.05);
	}
	.brandsIMG .k3 img {
		width: 75%;
		margin: 0;
		padding: 0;
		border-radius: 2px;
		margin-left: 40px;
		margin-top: 20px;
	}
	.brandsIMG .k3 h3 {
		margin-top: 20px;
		margin-left: 20px;	
	}
	.brandsIMG .k3 h5 {
		margin-top: -10px;
		margin-left: 20px;
		color: #4592a5;
	}
	.brandsIMG .k4 {
		display: none;
	}
	.like{
		width: 25px !important;
		float: right;
		margin-right: 15px !important;
		margin-top: -55px !important;
	}
	.brandsAZ.bgWhite #text4 {
		position: relative;
		float: left;
		color: #0009;
		font-size: 1.2em;
		margin-top: 40px;
		margin-left: 20px;
		font-family: Comfortaa-Light;
		font-weight: 1000;
	}
	.brandsAZ.bgWhite #text5 {
		position: relative;
		float: left;
		color: #0009;
		font-size: 1.2em;
		margin-top: 40px;
		margin-left: 20px;
		font-family: Comfortaa-Light;
		font-weight: 1000;
	}
	.brandsAZ.bgWhite #text7 {
		position: relative;
		float: left;
		color: #0009;
		font-size: 1.2em;
		margin-top: 40px;
		margin-left: 20px;
		font-family: Comfortaa-Light;
		font-weight: 1000;
	}
	.brandsAZ.bgWhite #text8 {
		position: relative;
		float: left;
		color: #0009;
		font-size: 1.2em;
		margin-top: 40px;
		margin-left: 15px;
		font-family: Comfortaa-Light;
		font-weight: 1000;
	}
	.brandsAZ.bgWhite #text9 {
		position: relative;
		float: left;
		color: #0009;
		font-size: 1.2em;
		margin-top: 40px;
		margin-left: 15px;
		font-family: Comfortaa-Light;
		font-weight: 1000;
	}
	.readmore {
		margin-top: 
		width: 100%;
		height: 40px;
		float: left;
		margin-left: -30px;
	}
	.readmore.bgWhite div.left1 {
		float: left;
		position: relative;
		width: 350px;
		height: 2px;
		background: #0009;
		margin-top: 50px;
	}
	.readmore.bgWhite div.right1 {
		float: right;
		position: relative;
		width: 350px;
		height: 2px;
		background: #0009;
		margin-top: 50px;
	}
	.readmore.bgWhite #text3 {
		position: relative;
		float: left;
		color: #0009;
		font-size: 1.3em;
		margin-top: 35px;
		margin-left: 40px;
		font-family: Comfortaa-Light;
		font-weight: 1000;
	}
	.product {
		position: absolute;
		float: left;
		margin-top: 100px;
	}
	.product h1 {
		font-family: Roboto;
		color: #0009;
		font-size: 15px;
	}
	.product h3 {
		font-family: Comfortaa-Light;
		font-size: 13px;
	}
	.product h3 a {
		text-decoration: none;
		color: #4592a5;
		cursor: pointer;
	}
	.brands {
		position: absolute;
		float: left;
		margin-top: 100px;
		margin-left: 130px;
	}
	.brands h1 {
		font-family: Roboto;
		color: #0009;
		font-size: 15px;
	}
	.brands h3 {
		font-family: Comfortaa-Light;
		font-size: 13px;
	}
	.brands h3 a {
		text-decoration: none;
		color: #4592a5;
		cursor: pointer;
	}
	.support {
		position: absolute;
		float: left;
		margin-top: 100px;
		margin-left: 270px;
	}
	.support h1 {
		font-family: Roboto;
		color: #0009;
		font-size: 15px;
	}
	.support h3 {
		font-family: Comfortaa-Light;
		font-size: 13px;
	}
	.support h3 a {
		text-decoration: none;
		color: #4592a5;
		cursor: pointer;
	}
	.featured {
		position: absolute;
		float: left;
		margin-top: 205px;
	}
	.featured h1 {
		font-family: Roboto;
		color: #0009;
		font-size: 15px;
	}
	.featured h3 {
		font-family: Comfortaa-Light;
		font-size: 13px;
	}
	.featured h3 a {
		text-decoration: none;
		color: #4592a5;
		cursor: pointer;
	}
	.message {
		position: relative;
		float: right;
		margin-top: 49px;
	}
	.message h1 {
		font-family: Roboto;
		color: #0009;
		font-size: 16px;
	}
	.message h3 {
		font-family: Comfortaa-Light;
		line-height: 30px;
		font-size: 14px;
	}
	.message h3 a {
		text-decoration: none;
		color: #4592a5;
		cursor: pointer;
	}
	.message input {
		width: 100%;
		height: 40px;
		border: none;
		box-shadow: 0 0 2px #0009;
		border-radius: 2px;
		transition: 0.75s;
	}
	.message input:hover {
		border: none;
		color: #0009;
		padding-left: 5px;
		transition: 0.75s;
		font-size: 13px; 
		padding-left: 20px;
		font-family: Comfortaa-Light;
	}
	.message input::-webkit-input-placeholder {
		position: relative;
		font-size: 13px;
		color: #0009;
		padding-left: 10px;
		border: none;
	}
	.message input:hover::-webkit-input-placeholder {
		border: none;
		transition: 0.5s;
		padding-left: 30px;
		font-family: Comfortaa-Light;
		color: #0009;
	}
	.mens {
		float: left;
		margin-top: 40px;
		box-shadow: 0 0 2px #0009;
		border: none;
		border-radius: 2px;
	}
	.mens button {
		width: 180px;
		height: 40px;
		border: none;
		border-radius: 2px;
		background: #fff;
		cursor: pointer;
	}
	.mens button:hover {
		background: #0005;
		transition: 0.75s;
	}
	.mens button a {
		text-decoration: none;
		color: #4592a5;
		cursor: pointer;
		font-family: Comfortaa-Light;
	}
}

@media screen and (max-width: 550px){
	.brandsIMG .k1 {
	float: left;
	width: 230px;
	height: 280px;
	margin-top: 61px;
	background: #fff;
	box-shadow: 0 0 2px;
	margin-right: 15px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
	margin-left: 10px;
	}
	.brandsIMG .k2 {
	float: left;
	width: 230px;
	height: 280px;
	margin-top: 100px;
	background: #fff;
	box-shadow: 0 0 2px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
	}
	.brandsIMG .k3 {
	float: left;
	width: 230px;
	height: 280px;
	margin-top: 15px;
	background: #fff;
	box-shadow: 0 0 2px;
	margin-right: 15px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
	margin-left: 10px;
	}
	.brandsIMG .k4 {
	display: inline;
	float: left;
	width: 230px;
	height: 280px;
	margin-top: 15px;
	background: #fff;
	box-shadow: 0 0 2px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
	}
	.brandsIMG .k4 img{
		width: 80%;
		margin-left: 25px;
	}
	.brandsIMG .k4 h3{
		margin-top: 30px;
	}
	.brandsAZ{
		margin-top: 80px;
	}
	.brandsAZ.bgWhite div#text4{
		margin-left: 2px !important;
	}
	.brandsAZ.bgWhite div#text5{
		margin-left: 28px !important;
	}
	.brandsAZ.bgWhite div#text9{
		margin-top: 30px;
	}
	.brandsAZ.bgWhite div#text8{
		margin-left: 8px;
	}
	.brandsAZ.bgWhite div.left1{
		width: 130px !important;
	}
	.brandsAZ.bgWhite div.right1{
		width: 130px !important;
	}
	.brandsAZ.bgWhite div.left2{
		width: 170px !important;
	}
	.brandsAZ.bgWhite div.right2{
		width: 170px !important;
	}
	.brandsAZ.bgWhite div.left3{
		width: 210px !important;
	}
	.brandsAZ.bgWhite div.right3{
		width: 200px !important;
	}
	.brandsAZ.bgWhite div.left4{
		width: 200px !important;
	}
	.brandsAZ.bgWhite div.right4{
		width: 210px !important;
	}
	.brandsAZ.bgWhite div.left5{
		width: 170px !important;
	}
	.brandsAZ.bgWhite div.right5{
		width: 170px !important;
	}
	.textdisk{
		margin-left: 80px !important;
		margin-top: -100px;
	}

	.readmore {
	margin-top: 
	width: 100%;
	height: 40px;
	float: left;
	margin-left: -10px;
}
.readmore.bgWhite div.left1 {
	float: left;
	position: relative;
	width: 160px !important;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.readmore.bgWhite div.right1 {
	float: right;
	position: relative;
	width: 160px !important;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.readmore.bgWhite #text3 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.3em;
	margin-top: 35px;
	margin-left: 2px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}

	#nav-icon1{
		display: block;
		margin-top: -88px;
	}

	.menu-hide{
		margin-top: -50px;
		display: block;
		width: 100%;

	}

	.menu-hide-active{
		height: 500px;
		transition: 1s;
	}

	
	.menu-hide li{
		width: 100%;
	}

	.search {
	height: 50px;
	width: 200px;
	margin-left: 100px;
}
.search input {
	height: 40px;
	width: 450px;
	margin-top: 5px;
	margin-left: 100px;
	border-radius: 2px;
	border: none;
	border: 1px solid whitesmoke;
	transition: 0.75s;
	font-family: Comfortaa-Light;
	font-size: 13px; 
	padding-left: 10px;
}
.search input:hover {
	color: #0009;
	padding-left: 5px;
	transition: 0.75s;
	font-size: 13px; 
	padding-left: 20px;
	font-family: Comfortaa-Light;
}
.search input::-webkit-input-placeholder {
	position: relative;
	font-size: 15px;
	color: #0009;
	padding-left: 10px;
}
.search input:hover::-webkit-input-placeholder {
	transition: 0.5s;
	padding-left: 30px;
	font-family: Comfortaa-Light;
	color: #0009;
}

	.view{
		width: 100%;
		margin: 50px auto !important;	
		float: left;

	}

	.view a{
		text-align: center;
	}

	header{
		box-sizing: border-box;
		position: fixed !important;
	}
	
	.container{
		max-width: 500px;
		margin: 0 auto;
		padding: 0 auto;
	}

	nav{
		position: fixed;

	}

	.navbar ul li{
		display: none !important;
	}

	.banner{
		height: 425px;
	}

	.banner .navigasi{
		bottom: 50px;
	}

	.banner .diskWhite{
		margin-left: 8%;
		margin-top: -330px;	
	}

	.left1{
		width: 23% !important;
		margin-right: 5%;3
	}

	.right1{
		width: 110px !important;
	}
		
	.colImg{
		height: 700px;
	} 	

	#text1, #text2, #text3, #text4{
		text-align: center;
		margin-left: 0 !important;	
	}

	.colImg .item{
		width: calc(50% - 30px) !important;
		height: 300px !important;
		margin-top: 80px !important;
		margin-left: 10px !important;
	}
	
	.colImg .item:nth-child(4){
		margin-top: 20px !important;
	}
		
	.colImg .item:last-child{
		margin-top: 20px !important;
	}	

	.colImg .k2{
		margin-top: 7px !important;
	}

	.newIMG .item{
		width: calc(50% - 30px) !important;
		height: 300px !important;
		margin-top: 80px !important;
		margin-left: 10px !important;
	}
	
	.newIMG .item:nth-child(4){
		margin-top: 20px !important;
	}
		
	.newIMG .item:last-child{
		margin-top: 20px !important;
	}	

	.newIMG .k2{
		margin-top: 7px !important;
	}

	.allIMG .item{
		width: calc(50% - 30px) !important;
		height: 300px !important;
		margin-top: 80px !important;
		margin-left: 10px !important;
	}
	
	.allIMG .item:nth-child(4){
		margin-top: 20px !important;
	}
		
	.allIMG .item:last-child{
		margin-top: 20px !important;
	}	

	.allIMG .k2{
		margin-top: 7px !important;
	}
	
	.brandsIMG .item{
		width: calc(50% - 30px) !important;
		height: 300px !important;
		margin-top: 80px !important;
		margin-left: 10px !important;
	}
	
	.brandsIMG .item:nth-child(4){
		margin-top: 20px !important;
	}
		
	.brandsIMG .item:last-child{
		margin-top: 20px !important;
	}	

	.brandsIMG .k2{
		margin-top: 7px !important;
	}

	.coatsIMG .item{
		width: calc(50% - 30px) !important;
		height: 300px !important;
		margin-top: 80px !important;
		margin-left: 10px !important;
	}
	
	.coatsIMG .item:nth-child(4){
		margin-top: 20px !important;
	}
		
	.coatsIMG .item:last-child{
		margin-top: 20px !important;
	}	

	.coatsIMG .k2{
		margin-top: 7px !important;
	}
	
	.jacketIMG .item{
		width: calc(50% - 30px) !important;
		height: 300px !important;
		margin-top: 80px !important;
		margin-left: 10px !important;
	}
	
	.jacketIMG .item:nth-child(4){
		margin-top: 20px !important;
	}
		
	.jacketIMG .item:last-child{
		margin-top: 20px !important;
	}	

	.jacketIMG .k2{
		margin-top: 7px !important;
	}

	.topsIMG .item{
		width: calc(50% - 30px) !important;
		height: 300px !important;
		margin-top: 80px !important;
		margin-left: 10px !important;
	}
	
	.topsIMG .item:nth-child(4){
		margin-top: 20px !important;
	}
		
	.topsIMG .item:last-child{
		margin-top: 20px !important;
	}	

	.topsIMG .k2{
		margin-top: 7px !important;
	}

	.trausersIMG .item{
		width: calc(50% - 30px) !important;
		height: 300px !important;
		margin-top: 80px !important;
		margin-left: 10px !important;
	}
	
	.trausersIMG .item:nth-child(4){
		margin-top: 20px !important;
	}
		
	.trausersIMG .item:last-child{
		margin-top: 20px !important;
	}	

	.trausersIMG .k2{
		margin-top: 7px !important;
	}
	
	#text9{
		max-width: 133px !important;
		text-align: center;

	}

	.traditionalIMG .item{
		width: calc(50% - 30px) !important;
		height: 300px !important;
		margin-top: 80px !important;
		margin-left: 10px !important;
	}
	
	.traditionalIMG .item:nth-child(4){
		margin-top: 20px !important;
	}
		
	.traditionalIMG .item:last-child{
		margin-top: 20px !important;
	}	

	.traditionalIMG .k2{
		margin-top: 7px !important;
	}

	#text10{
		margin-left: 65px !important;
	}

	.skirtIMG .item{
		width: calc(50% - 30px) !important;
		height: 300px !important;
		margin-top: 80px !important;
		margin-left: 10px !important;
	}
	
	.skirtIMG .item:nth-child(4){
		margin-top: 20px !important;
	}
		
	.skirtIMG .item:last-child{
		margin-top: 20px !important;
	}	

	.skirtIMG .k2{
		margin-top: 7px !important;
	}

	.product{
		width: 100%;
		position: relative;	
		margin: 0;			
	}
	
	.brands{
		width: 100%;
		position: relative;	
		margin: 0;	
	}	

	.featured{
		width: 100%;	
		position: relative;	
		margin: 0;	
	}

	.support{
		width: 100%;	
		position: relative;	
		margin: 0;	
	}

	.message{
		width: 100%;
		margin-top: 10px;		
		margin-right: 0;	
	}		
}		

@media screen and (max-width: 360px){
	.search {
	height: 50px;
	width: 200px;
	margin-left: 100px;
}
.search input {
	height: 40px;
	width: 340px;
	margin-top: 5px;
	margin-left: 100px;
	border-radius: 2px;
	border: none;
	border: 1px solid whitesmoke;
	transition: 0.75s;
	font-family: Comfortaa-Light;
	font-size: 13px; 
	padding-left: 10px;
}
.search input:hover {
	color: #0009;
	padding-left: 5px;
	transition: 0.75s;
	font-size: 13px; 
	padding-left: 20px;
	font-family: Comfortaa-Light;
}
.search input::-webkit-input-placeholder {
	position: relative;
	font-size: 15px;
	color: #0009;
	padding-left: 10px;
}
.search input:hover::-webkit-input-placeholder {
	transition: 0.5s;
	padding-left: 30px;
	font-family: Comfortaa-Light;
	color: #0009;
}

.textdisk{
	margin-left: 55px !important;
	margin-top: -400px;
}
	#nav-icon1{
		display: block;
		margin-top: -88px;
		margin-right: 20px;
	}

	.banner .diskWhite{
		margin-left: -4%;
		margin-top: -330px;	
	}

	.container{
		max-width: 350px;
	}

	.left1{
		width: 20% !important;
	}

	.right1{
		width: 20% !important;
	}

	.item{
		height: 150px !important;
	}
	.logo img{
		margin-left: -70px;
	}
	.brandsIMG .k1 {
	float: left;
	width: 145px;
	height: 200px;
	margin-top: 61px;
	background: #fff;
	box-shadow: 0 0 2px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
	margin-left: 25px;
	}
	.brandsIMG .k1 img{
		margin-left: 20px;
	}
	.brandsIMG .k1 h3{
		margin-top: 40px;
		font-size: 15px;	
		margin-left: 10px;
	}
	.brandsIMG .k1 h5{
		font-size: 10px;
		margin-left: 10px;
	}
	.brandsIMG .k2 {
	float: left;
	width: 145px;
	height: 200px;
	margin-top: 24px !important;
	background: #fff;
	box-shadow: 0 0 2px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
	margin-left: 5px;
	}
	.brandsIMG .k2 img{
		margin-left: 20px;
	}
	.brandsIMG .k2 h3{
		margin-top: 20px;
		font-size: 15px !important;	
		margin-left: 10px;
	}
	.brandsIMG .k2 h5{
		font-size: 10px;
		margin-left: 10px;
	}
	.brandsIMG .k3 {
	float: left;
	width: 145px;
	height: 200px;
	margin-top: 15px;
	background: #fff;
	box-shadow: 0 0 2px;
	margin-right: 15px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
	margin-left: 25px;
	}
	.brandsIMG .k3 img{
		margin-left: 20px;
	}
	.brandsIMG .k3 h3{
		margin-top: 20px;
		margin-left: 10px;
		font-size: 15px !important;	
	}
	.brandsIMG .k3 h5{
		font-size: 10px;
		margin-left: 10px;
	}
	.brandsIMG .k4 {
	float: left;
	width: 145px;
	height: 200px;
	margin-top: 15px;
	background: #fff;
	box-shadow: 0 0 2px;
	margin-right: 15px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
	margin-left: 5px;
	}
	.brandsIMG .k4 img{
		margin-left: 20px;
	}
	.brandsIMG .k4 h3{
		margin-top: 30px;
		font-size: 15px !important;	
		margin-left: 10px;
	}
	.brandsIMG .k4 h5{
		font-size: 10px;
		margin-left: 10px;
	}
	.next{
		font-size: 8px;
	}
	.like{
		width: 20px !important;
		margin-top: -35px !important;
	}
	.brandsAZ{
		margin-top: 80px;
	}
	.brandsAZ.bgWhite div#text4{
		margin-left: 2px !important;
	}
	.brandsAZ.bgWhite div#text5{
		margin-left: 20px !important;
	}
	.brandsAZ.bgWhite div#text9{
		margin-top: 30px;
	}
	.brandsAZ.bgWhite div#text8{
		margin-left: 8px;
	}
	.brandsAZ.bgWhite div.left1{
		width: 70px !important;
	}
	.brandsAZ.bgWhite div.right1{
		width: 70px !important;
	}
	.brandsAZ.bgWhite div.left2{
		width: 100px !important;
	}
	.brandsAZ.bgWhite div.right2{
		width: 100px !important;
	}
	.brandsAZ.bgWhite div.left3{
		width: 135px !important;
	}
	.brandsAZ.bgWhite div.right3{
		width: 135px !important;
	}
	.brandsAZ.bgWhite div.left4{
		width: 130px !important;
	}
	.brandsAZ.bgWhite div.right4{
		width: 130px !important;
	}
	.brandsAZ.bgWhite div.left5{
		width: 105px !important;
	}
	.brandsAZ.bgWhite div.right5{
		width: 105px !important;
	}
	.readmore {
	margin-top: 
	width: 100%;
	height: 40px;
	float: left;
	margin-left: 15px !important;
}
.readmore.bgWhite div.left1 {
	float: left;
	position: relative;
	width: 90px !important;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.readmore.bgWhite div.right1 {
	float: right;
	position: relative;
	width: 90px !important;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.readmore.bgWhite #text3 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.3em;
	margin-top: 35px;
	margin-left: -6px !important;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
	.message{
		width: 95%;
		margin-top: 10px;		
		float: left;	
	}	
	
}


