body {
	padding: 0;
	margin: 0;
}
@font-face{
	font-family: OSWALD;
	src: url(../assets/font/OSWALD.otf);
}
@font-face{
	font-family: Comfortaa-Light;
	src: url(../assets/font/Comfortaa-Light.ttf);
}
@font-face{
	font-family: Roboto-Thin;
	src: url(../assets/font/roboto/Roboto-Thin.ttf);
}
@font-face{
	font-family: Roboto-ThinItalic;
	src: url(../assets/font/roboto/Roboto-ThinItalic.ttf);
}
@font-face{
	font-family: Roboto-Italic;
	src: url(../assets/font/roboto/Roboto-Italic.ttf);
}
@font-face{
	font-family: Roboto-Light;
	src: url(../assets/font/roboto/Roboto-Light.ttf);
}
form {
	overflow: hidden;
}
.container {
	max-width: 500px;
	margin: 0 auto;
}
.wrap {
	position: absolute;
	float: left;
	background: url(../assets/image/imgMen/im22.jpg);
	background-size: 770px 625px;
	background-repeat: no-repeat;
	width: 765px;
	height: 100vh;
	font-family: Comfortaa-Light;
	overflow: hidden;
}
.wrapp {
	float: right;
	width: 600px;
	height: 100vh;
	background: whitesmoke;
	border: none;
	font-family: Comfortaa-Light;
	overflow: hidden;
}
.wrapp h2 {
	margin-top: 120px;
	text-align: center;
	color: #4592a6;
	margin-left: 30px;
}
.wrapp h5 {
	top: 0;
	text-align: center;
	color: #0008;
	margin-top: -10px;
	margin-left: 30px;
}
.login {
	width: 100%;
	height: 100%;
	margin-top: 40px;
	margin-left: 75px;
}
.login h3 {
	font-size: 1em;
	width: 150px;
	margin-right: 0;
}
.login .lgkiri {
	float: left;
	width: 150px;
}
.login .lgkiri input {
	width: 230px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid gray;
	margin-top: -10px; 
}
.login .lgkanan {
	float: left;
	width: 150px;
	margin-left: 110px;
	margin-bottom: 20px;
}
.login .lgkanan input {
	width: 230px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid gray;
	margin-top: -10px; 
}
.login input {
	width: 150px;
	height: 30px;
	cursor: pointer;
	transition: 0.75s;
	border: none;
	font-family: Comfortaa-Light;
	color: #0009;
	padding-left: 20px;
}
.login input:hover {
	border: none;
	color: #0009;
	padding-left: 5px;
	transition: 0.75s;
	font-size: 13px; 
	padding-left: 20px;
	font-family: Comfortaa-Light;
}
.login input::-webkit-input-placeholder {
	position: relative;
	font-size: 13px;
	color: #0009;
	padding-left: 10px;
	border: none;
}
.login input:hover::-webkit-input-placeholder {
	border: none;
	transition: 0.5s;
	padding-left: 30px;
	font-family: Comfortaa-Light;
	color: #0009;
}
.login .email {
	margin-top: 20px;
}
.login .email input {
	width: 71.5%;
	height: 35px;
	border: 1px solid gray;
}
.login .pswrd {
	margin-top: 10px;
}
.login .pswrd input {
	width: 71.5%;
	height: 35px;
	border: 1px solid gray;
}
.login .btn {
	position: relative;	
	float: left;	
	width: 100%;
	margin-top: -5px;
}
.login .btn button {
	width: 380px;
	height: 40px;
	background: #2e7d9c;
	border: none;	
	cursor: pointer;
}
.login .btn button:hover {
	background: #1a7d90;
}
.login .btn button a {
	text-decoration: none;
	color: #fff;
	font-family: Comfortaa-Light;
}
.lupa {
	margin-left: 235px;
}
.lupa a{
	color: #4592a5;
	text-decoration: none;
}
.belum{
	margin-top: 60px;
	margin-left: 73px;
	color: 	#0009;
}
.belum a{
	color: #4592a5;
	text-decoration: none;	
}

@media screen and (max-width:1020px) {
	.wrap{
		width: 50%;
		padding-left: -10px;
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.wrapp h3{
 		color: #4592a5 !important;
 	}
	}
	.wrapp h5{
		color: black;
		margin-left: 95px !important;
	}
	.wrapp h2{
		color: #4592a5 !important;
		margin-left: 80px !important;
	}
	.lupa{
		font-size: 12px;
		margin-left: 272px;
	}
	.email{
		margin-left: 60px;
	}
	.pswrd{
		margin-left: 60px;
	}
	.btn{
		margin-left: 40px;
	}
	.lupa{
		margin-left: 290px !important;
	}
}


@media screen and (max-width:980px) {
	.wrap{
		position: relative;
		float: left;
		background: url(../assets/image/imgMen/im21.jpg);
		background-size: cover;
		width: 350px;
		height: 100vh;
		font-family: Comfortaa-Light;
	}
	.wrapp{
		margin-right: 20px;
		margin-top: 80px;
	}
}


@media screen and (max-width: 768px) {
	.wrap{
		display: none;
	}
	.wrapp{
		width: 100%;
		margin-right: -17px;
		background: url(../assets/image/imgMen/menswear.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-top: -20px;
	}
	.login{

	}
	 .login, .pswrd, .btn h3, .wrapp h2, .wrapp h5 {
 		color: white;
 		
 	}
 	.wrapp h3{
 		color: #4592a5 !important;
 	}
	}
	.wrapp h5{
		color: black;
		margin-left: -95px;
	}
	.wrapp h2{
		color: #4592a5 !important;
		margin-left: -80px;
	}
	.lupa{
		font-size: 12px;
		margin-left: 272px;
	}
}

@media screen and (max-width: 550px) {
	.wrapp h3{
		color: #4592a5 !important;
	}
	.wrapp h5{
		color: black;
		margin-left: -95px;
	}
	.wrapp h2{
		color: #4592a5 !important;
		margin-left: -80px;
	}
	.lupa{
		font-size: 12px;
		margin-left: 272px;
	}
}


@media screen and (max-width: 360px) {
	.wrapp{
		width: 100%;
		background-image: none;
	}
	.wrapp h2{
		margin-left: -80px;
		color: #4592a5 !important;
	}
	.wrapp h3{
		color: #4592a5 !important;
	}
	.wrapp h5{
		width: 100%;
		font-size: 15px;
		margin-left: -65px;
		color: black;
	}
	.lupa{
		margin-left: 210px;
		font-size: 12px;
	}
	.login{
		margin-left: 1px;
	}
	.login .btn button {
	width: 342px;
	height: 40px;
	background: #2e7d9c;
	border: none;	
	cursor: pointer;
	margin-left: -18px;
	}
		 .login, .pswrd, .btn h3, .wrapp h2, .wrapp h5 {
 		color: black;
 		
 	}

.login .email input {
	width: 82.6%;
	height: 35px;
	border: 1px solid gray;
	}

.login .pswrd input {
	width: 82.6%;
	height: 35px;
	border: 1px solid gray;
}


}


